/*
 * Gabriel Longás
 * Laravel theme for smd
 * CSS inspired in the design of http://laravel.com
 */

body {
    font-family: 'Droid Serif', serif;
    font-weight: 400;
    color: #414141;
}

p:empty {
    display: none;
}

/* Scroll top */
#scrolltop {
    display: none;
}

/* Header */
header {
    margin: 35px auto;
}
    header h1 {
        margin: 0;
        font-family: 'Vollkorn', serif;
        font-size: 4.5em;
        font-weight: 400;
        text-align: center;
        color: #000;
    }

/* Menu */
nav {
    margin: 0 auto;
    padding: 15px;
    font-family: 'Vollkorn', serif;
    font-size: 0.9em;
    text-align: center;
    text-transform: uppercase;
    background: #000;
}
    nav a {
        margin-left: 15px;
        font-weight: 400;
        text-decoration: none;
        color: #fff;
    }
        nav a:first-child {
            margin-left: 0;
        }
        nav a:hover {
            text-decoration: underline;
        }

/* Content */
#content {
    margin: 0 auto;
    width: 750px;
}
    #content h1,
    #content h2,
    #content h3,
    #content h4,
    #content h5,
    #content h6 {
        font-family: 'Vollkorn', serif;
        font-weight: 400;
        text-align: center;
        color: #000;

    }
        #content h1 {
            font-size: 2.5em;
        }
    #content a {
        font-weight: 700;
        text-decoration: none;
        color: #113ac2;
    }
        #content a:hover {
            color: #08237a;
        }
    #content p {
        margin-top: 35px;
        font-size: 1.2em;
        letter-spacing: 0.1px;
        line-height: 30px;
        text-align: justify;
    }
    #content img {
        width: 100%;
        border-radius: 5px;
    }
    #content ul {
    }
        #content ul li {
            margin-top: 15px;
        }
    #content blockquote {
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 15px;
        font-style: italic;
        border: 2px solid #000;
        border-radius: 5px;
    }
    #content hr {
        width: 500px;
        height: 50px;
        border: 0;
        background: url('../images/hr.png') center no-repeat;
    }

/* Footer */
footer {
    margin-top: 20px;
    padding: 30px;
    font-size: 0.8em;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    background: #000;
}
    footer a {
        font-weight: 700;
        text-decoration: none;
        color: #fff;
    }
        footer a:hover {
            text-decoration: underline;
        }
