html {
    width: 100%;
    height: 100%;
}

body {
    color: white;
    background: #131316;
    font-family: 'Open Sans', sans-serif;
}

input {
    display: block;
}

header {
    padding: 15px;
    background: #2e2e34;
}
    header h1 {
        margin: 0;
        font-weight: 300;
    }
        header h1 strong {
            color: #66ccff;
        }

#left {
    float: left;
    width: 30%;
    border-top: 5px solid #66ccff;
    box-sizing: border-box;
}
    #left #accordion {
    }
        #left #accordion .item {
            padding: 10px;
            background: #2e2e34;
            border-bottom: 1px solid #3d3d3d;
            cursor: pointer;
        }
        #left #accordion .data {
            padding: 10px;
            font-size: 0.8em;
            display: none;
        }
            #left #accordion .data pre {
                padding-left: 10px;
                color: #66ccff;
            }

#right {
    float: left;
    width: 70%;
}
    #right h2 {
        margin: 15px auto 0;
        padding: 10px;
        font-size: 1.1em;
        font-weight: 300;
        text-transform: uppercase;
        color: #131316;
        background: #66ccff;
    }
        #right h2:first-child {
            margin: 0;
        }
    #right input[type="text"] {
        padding: 10px;
        width: 100%;
        color: #131316;
        background: #f2f2f3;
        border: 0;
        box-sizing: border-box;
    }
    #right textarea {
        padding: 10px;
        width: 100%;
        height: 500px;
        font-size: 0.85em;
        color: #131316;
        background: #f2f2f3;
        border: 0;
        box-sizing: border-box;
    }
    #right select {
        width: 100%;
        height: 50px;
        padding: 15px;
        color: #131316;
        background: #f2f2f3;
        border: 0;
    }
    #right input[type="submit"] {
        margin-top: 15px;
        padding: 10px;
        width: 100%;
        text-transform: uppercase;
        color: #131316;
        background: #66ccff;
        border: 0;
    }
        #right input[type="submit"]:hover {
            background: #f2f2f3;
        }
