/*
 * Gabriel Longás
 * Laravel theme for smd
 * CSS inspired in the design of http://laravel.com
 */

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #666;
    background: #f5f5f5;
}

p:empty {
    display: none;
}

::selection {
    background: #fff7a8;
}

strong {
    font-weight: 900;
}

/* Scroll top */
#scrolltop {
    display: none;
    position: fixed;
    bottom: 35px;
    right: 35px;
    width: 35px;
    height: 35px;
    background: #f4726d url('../images/scrolltop.png') center no-repeat;
    cursor: pointer;
    transition: 0.3s linear all;
}
    #scrolltop:hover {
        background: #fff url('../images/scrolltop_hover.png') center no-repeat;
    }

/* Header */
header {
    padding: 25px;
    color: #fff;
    background: #f4726d;
}
    header h1 {
        width: 750px;
        margin: 0 auto;
        font-size: 3em;
        font-weight: 100;
        text-shadow: rgba(0, 0, 0, 0.3) 0px 1px 1px;
    }
        header h1:after {
            content: '.';
        }

/* Menu */
nav {
    position: absolute;
    z-index: 10;
    left: 0;
    right: 0;
    padding: 25px;
    font-size: 0.8em;
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    background: #fffefe;
}
    nav a {
        margin-left: 15px;
        text-transform: uppercase;
        text-decoration: none;
        color: #aaa;
    }
        nav a:first-child {
            margin-left: 0;
        }
        nav a:hover {
            color: #f4726d;
        }

/* Content */
#content {
    margin: 45px auto 0;
    padding: 20px;
    width: 750px;
    background: #fffefe;
}
    #content ul {
        padding-left: 15px;
        list-style: none;
    }
        #content ul li {
            margin-top: 10px;
        }
            #content ul li::before {
                margin-right: 6px;
                content: '#';
                color: #f4726d;
                opacity: 0.4;
                transition: 0.5s linear all;
            }
                #content ul li:hover::before {
                    opacity: 1;
                }
            #content ul li a {
                font-weight: 700;
                text-decoration: none;
            }
    #content hr {
        margin: 25px auto;
        width: 200px;
        border: 1px solid #f4726d;
    }
    #content img {
        display: block;
        margin: 0 auto;
        width: 100%;
    }
    #content a {
        color: #f4726d;
    }
        #content a:hover {
            color: #454545;
        }
    #content p {
        margin-top: 25px;
        font-size: 0.95em;
        letter-spacing: 0.3px;
        line-height: 21px;
        text-align: justify;
    }
    #content h1 {
        font-weight: 400;
        color: #454545;
    }
        #content h1::before {
            margin-right: 7px;
            content: '#';
            color: #f4726d;
            opacity: 0.4;
            transition: 0.5s linear all;
        }
            #content h1:hover::before {
                opacity: 1;
            }
    #content h1,
    #content h2,
    #content h3,
    #content h4,
    #content h5,
    #content h6 {
        font-weight: 400;
        color: #454545;
    }
    #content blockquote {
        margin: 25px;
        padding: 15px 15px 15px 50px;
        font-size: 0.9em;
        font-style: italic;
        color: #787878;
        border-bottom: 3px solid #f4726d;
        background: #f5f5f5 url('../images/quote.png') 10px 10px no-repeat;
    }

/* Footer */
footer {
    margin-top: 15px;
    padding: 15px;
    font-size: 0.8em;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    background: #f4726d;
}
    footer a {
        color: #fff;
    }
        footer a:hover {
            color: #454545;
        }
