<meta charset="utf-8">
<style>img{max-width:600px}</style>
<h1 id="pastesmd">Pastesmd</h1>
<h3 id="desarrollo-de-aplicaciones-web">Desarrollo de Aplicaciones Web</h3>
<p>Gabriel Longás Calvo - 2ºDAW</p>
<p><a href="https://bitbucket.org/longas/pastesmd">Repositorio en Bitbucket</a></p>
<p></p>
<h1 id="objetivo-y-detalles-del-proyecto">1. Objetivo y detalles del proyecto</h1>
<p>The goal of this project is to create a website where users can create and share documents using Markdown, in an easy and intuitive way.</p>
<p>Markdown is a plain text formatting syntax. It's popularly used to format readme files, for writing messages in online discussion forums or in text editors for the quick creation of rich text documents.</p>
<p>The project consist of two parts. The first one is in charge of parsing the Markdown, converting it to HTML and preparing the document, all these actions happen in the client meaning that it's written in Javascript, thanks to that you can implement it in any website regardless of the language used in the server. The other part is the back-end, it's written entirely in Javascript too, using node.js as the scripting framework and MongoDB for the database platform.</p>
<p>To create a document the user only needs to enter a title, type the markdown text and choose between one of the templates available. Once the document is saved, the application will redirect the user to his newly created document where he will be able to copy the URL and share it with anyone.</p>
<p>This service resembles to Pastebin, but instead of sharing code snippets you can create and share rich documents written in Markdown.</p>
<p></p>
<h1 id="documento-de-análisis-y-diseño">2. Documento de análisis y diseño</h1>
<h2 id="análisis">2.1 Análisis</h2>
<p><strong>Markdown</strong> es un lenguaje de marcado ligero que trata de conseguir la máxima legibilidad y <em>&quot;publicabilidad&quot;</em> tanto en sus forma de entrada como de salida, inspirándose en muchas convenciones existentes para marcar mensajes de correo electrónico usando texto plano. Al principio se usaba para crear documentos simples, pero con el tiempo y la mayor adopción que ha tenido, se han ido creando diferentes servicios que hacen uso del lenguaje. Desde escribir libros, crear diapositivas o escribir manuales.</p>
<p>Con <strong>Pastesmd</strong> se pretende crear un servicio donde los usuarios puedan crear y compartir documentos en formato web (HTML) pero escritos previamente en Markdown, de la manera mas sencilla y simple posible.</p>
<p>El proyecto esta separado en 2 partes bien diferenciadas. El <em>back-end</em> es el encargado de guardar los documentos creados por los usuarios para luego poder acceder a ellos, la otra parte es la encargada de <em>parsear</em> y &quot;traducir&quot; esos textos escritos en Markdown a HTML. Ambas están escritas en Javascript, la razón principal principal es que en la empresa donde he hecho el Erasmus usaban también Javascript tanto en el cliente como en el servidor. La otra razón en el caso del <em>parser</em> es que quería que se ejecutase en el cliente ya que eso significa que se puede usar en cualquier página web sin importar el como este programado el <em>back-end</em>.</p>
<h2 id="diseño">2.2 Diseño</h2>
<p>Como se ha comentado anteriormente, uno de los principales objetivos de la aplicación es que sea intuitiva y sencilla de utilizar.</p>
<p>Una vez el usuario este en la aplicación, se encontrará delante de un formulario donde se le pedirá que introduzca el título del documento y el texto de este, además de tener que elegir entre uno de los templates que haya disponibles. Para ayudar a personas que nunca hayan usado Markdown anteriormente, se mostrará una guía en la misma página sobre como se tiene que formatear el texto.</p>
<p>Una vez el usuario haya dado al boton de guardar, la aplicación lo redigirá a la dirección en la cual se ha creado su documento para que la pueda copiar y compartir con cualquier persona.</p>
<p></p>
<h1 id="documentación-de-instalación-configuración-y-desarrollo-software">3. Documentación de instalación, configuración y desarrollo software</h1>
<p>Para el funcionamiento del proyecto hacen falta las siguientes dos cosas:</p>
<ul>
<li><a href="http://nodejs.org/">node.js</a>, para instalarlo simplemente abre el ejecutable que te descargues desde la página.</li>
<li><a href="http://www.mongodb.org/">MongoDB</a>, una vez <a href="http://www.mongodb.org/downloads">descargada</a> la versión correcta para tu sistema operativo simplemente sigue <a href="http://docs.mongodb.org/manual/installation/">las instrucciones para su instalación</a>.</li>
</ul>
<p>Una vez descargado el proyecto del repositorio, podrás ver que contiene 2 carpetas principales:</p>
<ul>
<li><strong>app</strong>: Es donde se encuentra la totalidad del código de la aplicación, desde el back-end hasta el front-end.</li>
<li><strong>docs</strong>: La documentación creada para el proyecto, en formato Markdown, PDF y HTML.</li>
</ul>
<p>En la carpeta que nos vamos a centrar es <strong>app</strong>, una vez dentro de ella podrás ver los siguientes ficheros:</p>
<div class="figure">
<img src="images/1.png" alt="Carpeta app" /><p class="caption">Carpeta <strong>app</strong></p>
</div>
<p>Para instalar los modulos necesarios para la ejecución de la aplicación vamos a hacer uso de node.js y su herramienta de administraciñon de paquetes y dependencias <strong>npm</strong>. Ejecutando el archivo <strong>package.json</strong> haremos que se instalen las dependencias necesarias.</p>
<p></p>
<p>El código de <strong>package.json</strong> es el siguiente:</p>
<pre><code>{
    &quot;name&quot;: &quot;paste-smd&quot;,
    &quot;main&quot;: &quot;server.js&quot;,
    &quot;dependencies&quot;: {
        &quot;express&quot;: &quot;~4.0.0&quot;,
        &quot;jade&quot;: &quot;*&quot;,
        &quot;mongoose&quot;: &quot;~3.6.13&quot;,
        &quot;body-parser&quot;: &quot;~1.0.1&quot;
    }
}</code></pre>
<p>Con la consola nos colocamos en el directorio donde se encuentra el archivo <strong>package.json</strong> y ejecutamos el comando:</p>
<pre><code>npm install</code></pre>
<p>Una vez ejecutado el comando podremos ver como se están instalando todos los componentes.</p>
<div class="figure">
<img src="images/2.png" />
</div>
<p></p>
<p>Una vez se haya terminado de descargar todo, en la carpeta <strong>app</strong> veremos como se ha creado una carpeta nueva llamada <strong>node_modules</strong> en la cual se encuentran todas las dependencias necesarias.</p>
<div class="figure">
<img src="images/3.png" />
</div>
<p>Con todos los elementos de la aplicación preparados solo queda ejecutarla. Primero necesitamos encender la base de datos MongoDB que previamente hemos instalado, para hacer esto solo necesitamos ejecutar el siguiente comando:</p>
<pre><code>mongod</code></pre>
<p>Una vez MongoDB este encendido, con la consola nos vamos a la carpeta <strong>app</strong> y usamos el siguiente comando:</p>
<pre><code>node server</code></pre>
<p>Si todo se ha ejecutado sin problemas deberemos ver el siguiente mensaje en consola:</p>
<div class="figure">
<img src="images/4.png" />
</div>
<p></p>
<p>Ya solo queda abrir el navegador e irnos a la dirección <code>http://localhost:8080</code> para poder empezar a usar la aplicación.</p>
<div class="figure">
<img src="images/5.png" alt="Pastesmd en ejecución" /><p class="caption">Pastesmd en ejecución</p>
</div>
<p></p>
<h1 id="documentación-de-usuario">4. Documentación de usuario</h1>
<p>Pastesmd usa una implementación de Markdown que sigue al 99% su sintaxis, se han cambiado y añadido algunos detalles para poder añadir mas elementos a los documentos. El uso de la aplicación es muy sencillo, una vez el usuario este en ella se encontrara con un menú a la izquierda que sirve de guía de sintaxis y a la derecha un formulario donde se le pide el título, texto y template.</p>
<div class="figure">
<img src="images/5.png" />
</div>
<p>A continuación se enseña la sintaxis:</p>
<h2 id="cabeceras">4.1 Cabeceras</h2>
<p>Los encabezamientos se crean colocando un número determinado de almohadillas (#) antes del texto correspondiente al nivel de encabezamiento deseado (HTML ofrece hasta seis niveles), además se ha añadido la opción de especificar una ID que será usada para generar un menú en el cual poder navegar entre las secciones del documentos de una forma mas sencilla. Los encabezamientos posibles se pueden ver en la siguiente tabla:</p>
<pre><code># id=seccion1 Encabezado
## Encabezado
### Encabezado
#### Encabezado
##### Encabezado
###### Encabezado</code></pre>
<p>Esto producirá:</p>
<pre><code>&lt;h1 id=&quot;seccion1&quot;&gt;Encabezado&lt;/h1&gt;
&lt;h2&gt;Encabezado&lt;/h2&gt;
&lt;h3&gt;Encabezado&lt;/h3&gt;
&lt;h4&gt;Encabezado&lt;/h4&gt;
&lt;h5&gt;Encabezado&lt;/h5&gt;
&lt;h6&gt;Encabezado&lt;/h6&gt;</code></pre>
<h2 id="formato">4.2 Formato</h2>
<p>El formato básico del texto, es decir negritas y cursiva, se pueden realizar de la siguiente manera:</p>
<pre><code>*Esto es cursiva*
**Esto es negrita**</code></pre>
<p>Esto producirá:</p>
<pre><code>&lt;em&gt;Esto es cursiva&lt;/em&gt;
&lt;strong&gt;Esto es negrita&lt;/strong&gt;</code></pre>
<h2 id="listas">4.3 Listas</h2>
<p>Para crear listas simplemente hay que seguir el siguiente formato:</p>
<pre><code>@
- Primer elemento
- Segundo elemento
- Tercer elemento
@@</code></pre>
<p>Esto producirá:</p>
<pre><code>&lt;ul&gt;
    &lt;li&gt;Primer elemento&lt;/li&gt;
    &lt;li&gt;Segundo elemento&lt;/li&gt;
    &lt;li&gt;Tercer elemento&lt;/li&gt;
&lt;/ul&gt;</code></pre>
<h2 id="enlaces">4.4 Enlaces</h2>
<p>Crear enlaces es muy facil:</p>
<pre><code>[Google](http://google.com)</code></pre>
<p>Esto producirá:</p>
<pre><code>&lt;a href=&quot;http://google.com&quot;&gt;Google&lt;/a&gt;</code></pre>
<h2 id="imágenes">4.5 Imágenes</h2>
<p>La manera de incluir imágenes es muy similar a la de los enlaces:</p>
<pre><code>![Alt texto](/ruta/img.png)</code></pre>
<p>Esto producirá:</p>
<pre><code>&lt;img src=&quot;/ruta/img.png&quot; alt=&quot;Alt texto&quot;&gt;</code></pre>
<h2 id="citas">4.6 Citas</h2>
<p>Para crear bloques de cita, se emplea el carácter mayor que (&gt;) antes del bloque de texto:</p>
<pre><code>&gt; Esto es una cita.</code></pre>
<p>Esto producirá:</p>
<pre><code>&lt;blockquote&gt;Esto es una cita.&lt;/blockquote&gt;</code></pre>
<h2 id="código">4.7 Código</h2>
<p>Para incluir código en nuestros documentos debemos encerrar el texto entre dos acentos graves (`):</p>
<pre><code>Esto es un párrafo normal, `con un trozo de código`</code></pre>
<p>Esto producirá:</p>
<pre><code>Esto es un párrafo normal, &lt;code&gt;con un trozo de código&lt;/code&gt;</code></pre>
<h2 id="lineas-horizontales">4.8 Lineas horizontales</h2>
<p>Para crear líneas horizontales se debe crear una línea rodeada de líneas en blanco y compuesta por 5 o más guiones (-):</p>
<pre><code>-----</code></pre>
<p>Esto producirá:</p>
<pre><code>&lt;hr&gt;</code></pre>
<p></p>
<h1 id="contrato-del-proyecto">5. Contrato del proyecto</h1>
<h2 id="lista-de-requisitos">5.1 Lista de requisitos</h2>
<ul>
<li>La aplicación debe ser simple e intuitiva de usar.</li>
<li>Debe de haber una guía de sintaxis para ayudar a los usuarios.</li>
<li>Se tiene que poder especificar un título y un template a la hora de crear el documento.</li>
<li>Los documentos generados deben contener un menú mediante el cual los usuarios puedan navegar de una forma más cómoda.</li>
<li>Los documentos deben de poder ser facilmente compartidos.</li>
<li>El sistema de generación de documentos tiene que poderse incluir en otras plataformas de forma sencilla y teniendo que modificar las menos cosas posibles.</li>
<li>Todos los textos de la aplicación deberán estar en inglés.</li>
</ul>
<h2 id="presupuesto-detallado">5.2 Presupuesto detallado</h2>
<ul>
<li>El coste por hora trabajada es de <strong>35 Euros</strong>.</li>
<li>Se necesitarán <strong>45 horas</strong> para la finalización del proyecto.</li>
<li>El coste de los dispositivos informáticos para desarrollar y <em>testear</em> la aplicación es de <strong>1200 Euros</strong>.</li>
</ul>
<p>El coste total del proyecto es:</p>
<ul>
<li>35 Euros * 45 horas = 1575 Euros</li>
<li>1575 Euros + 1200 Euros = <strong>2775 Euros es el precio total</strong></li>
</ul>
<h2 id="planificación-temporal-con-hitos">5.3 Planificación temporal con hitos</h2>
<ul>
<li>El desarrollo de la aplicación comienza el día <strong>19 de mayo de 2014</strong>.</li>
<li><strong>Hito 1</strong>: El <strong>19 de mayo</strong> comienza la investigación de como poder desarrollar un <em>parser</em> en Javascript, para el <strong>día 25</strong> se deberá tener claro como se tiene que empezar.</li>
<li><strong>Hito 2</strong>: El <strong>26</strong> se empieza a programar el <em>parser</em> y el generador de documentos, esta tarea deberá estar terminada para el <strong>4 de junio</strong>.</li>
<li><strong>Hito 3</strong>: Desde el <strong>día 5</strong> al <strong>10</strong> se deberá de programar el sistema de back-end para que los usuarios puedan guardar y compartir sus documentos.</li>
</ul>
<p></p>
<h2 id="diagrama-de-tareas">5.4 Diagrama de tareas</h2>
<div class="figure">
<img src="images/8.png" />
</div>
<h2 id="pliego-de-condiciones">5.5 Pliego de condiciones</h2>
<ul>
<li>Se pagará un 40% al comienzo del desarrollo y el 60% restante al termino de este.</li>
<li>La forma de pago será mediante transferencia bancaria.</li>
<li>Compromiso a la entrega del proyecto segun la planificación temporal, en caso de no ser así el cliente se guarda el derecho de recibir un compensación económica.</li>
<li>Las Partes podrán modificar o dar por terminado el presente Acuerdo por mutuo acuerdo y por escrito dentro del periodo de vigencia del mismo.</li>
<li>Cada una de las Partes se compromete a no difundir, bajo ningún concepto, las informaciones científicas o técnicas pertenecientes a la otra parte, a las que haya podido tener acceso con ocasión del desarrollo del Proyecto.</li>
</ul>
<p></p>
<h1 id="diario-de-bitácora">6. Diario de bitácora</h1>
<ul>
<li>El día <strong>19 de mayo</strong> comienzo el proyecto. El primer paso es investigar diferentes formas de poder crear un <em>parser</em> y luego como poder hacerlo en Javascript para que se ejecute en el cliente. A lo largo de esa semana encuentro que la mayoría de los <em>parsers</em> usan expresiones regulares para poder analizar el texto de manera rápida.</li>
<li>La semana <strong>del 19 al 25</strong> la paso estudiando como funcionan las expresiones regulares y patrones de diseño comunes en Javascript para crear y organizar proyectos.</li>
<li>Una vez dispongo de una base buena, el <strong>día 26</strong> empiezo a programar el <em>parser</em>. Durante esa semana lo vuelvo a empezar a hacer de 0 un par de veces ya que me costaba entender algunas cosas de las expresiones regulares que anteriormente pensaba haber comprendido.</li>
<li>Hasta el día 6 no consigo tener terminado tanto el <em>parser</em> como el generador de documentos, 2 días mas tarde de lo previsto pero nada que no se pueda salvar.</li>
<li>Del <strong>7</strong> al <strong>10</strong> consigo tener terminado el back-end y por lo tanto la fecha limite para terminar el trabajo se cumple.</li>
</ul>
<p></p>
<h1 id="bibliografía">7. Bibliografía</h1>
<ul>
<li><a href="http://daringfireball.net/projects/markdown">Markdown</a></li>
<li><a href="https://developer.mozilla.org/en/docs/Web/JavaScript/Guide/Regular_Expressions">Regular Expressions</a> | MDN</li>
<li><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference">JavaScript Reference</a> | MDN</li>
<li><a href="http://eloquentjavascript.net/">Eloquent JavaScript</a></li>
<li><a href="http://www.amazon.com/JavaScript-Good-Parts-Douglas-Crockford/dp/0596517742">JavaScript: The Good Parts</a></li>
<li><a href="http://msdn.microsoft.com/en-us/magazine/ff852808.aspx">Prototypes and Inheritance in JavaScript</a></li>
<li><a href="http://www.adequatelygood.com/JavaScript-Module-Pattern-In-Depth.html">JavaScript Module Pattern: In-Depth</a></li>
<li><a href="http://sporto.github.io/blog/2012/12/09/callbacks-listeners-promises/">Asynchronous JS: Callbacks, Listeners, Control Flow Libs and Promises</a></li>
</ul>
