doctype html
html
    head
        meta(charset='utf-8')
        title #{title}
    body
        div(id='smd', data-theme='#{template}', style='display: none') #{md}
        script(src='js/simpledown.js')
        script(src='js/smd.js')
