doctype html
html
    head
        meta(charset='utf-8')
        link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800')
        link(rel='stylesheet', href='css/normalize.css')
        link(rel='stylesheet', href='css/main.css')
        title Pastesmd - Generate Markdown documents
    body
        header
            h1 <strong>#</strong> Pastesmd
        #left
            #accordion
                .item Headers
                .data
                    p Headers use 1-6 hash characters at the start of the line, corresponding to header levels 1-6, along with an optional id which will be used to create a navigation menu. For example:
                    pre: code
                        | # id=section This is an H1
                        | ## This is an H2
                        | ###### This is an H6
                    p Will produce:
                    pre: code
                        | &#60;h1 id="section">This is an H1&#60;/h1>
                        | &#60;h2>This is an H2&#60;/h2>
                        | &#60;h6>This is an H6&#60;/h6>
                .item Emphasis
                .data
                    p Text wrapped with one * will be wrapped with an HTML <code>&#60;em></code> tag; double *’s will be wrapped with an HTML <code>&#60;strong></code> tag. E.g., this input:
                    pre: code
                        | *single asterisks*
                        | **double asterisks**
                    p Will produce:
                    pre: code
                        | &#60;em>single asterisks&#60;/em>
                        | &#60;strong>double asterisks&#60;/strong>
                .item Lists
                .data
                    p In order to create lists you need to use the next syntax:
                    pre: code
                        | @
                        | - Item 1
                        | - Item 2
                        | - item 3
                        | @@
                    p This will produce:
                    pre: code
                        |&#60;ul>
                        |  &#60;li>Item 1&#60;/li>
                        |  &#60;li>Item 2&#60;/li>
                        |  &#60;li>Item 3&#60;/li>
                        |&#60;/ul>
                .item Links
                .data
                    p To create an inline link, use a set of regular parentheses immediately after the link text’s closing square bracket. Inside the parentheses, put the URL where you want the link to point. An id is optional. For example:
                    pre: code
                        | [This link](example.net/)
                        | [This link](example.net/)(id=exm)
                    p Will produce:
                    pre: code
                        | &#60;a href="example.net">This link&#60;/a>
                        | &#60;a id="exm" href="example.net">This link&#60;/a>
                .item Images
                .data
                    p Images use syntax that is intended to resemble the syntax for links
                    pre: code
                        | ![Alt text](/path/to/img.jpg)
                    p Will produce:
                    pre: code
                        | &#60;img src="/path/to/img.jpg" alt="Alt text">
                .item Blockquotes
                .data
                    p To create a blockquote you are only required to put the > before the first line of a hard-wrapped paragraph:
                    pre: code
                        | > Donec sit amet nisl.
                    p Will produce:
                    pre: code
                        | &#60;blockquote>Donec sit amet nisl.&#60;/blockquote>
                .item Code
                .data
                    p To indicate a span of code, wrap it with backtick quotes (`)
                    pre: code
                        | Use the `printf()` function.
                    p Will produce:
                    pre: code
                        | Use the &#60;code>printf()&#60;/code> function.
                .item Horizontal rules
                .data
                    p You can produce a horizontal rule tag <code>&#60;hr></code> by placing five or more hyphens on a line by themselves:
                    pre: code
                        | -----
                    p Will produce:
                    pre: code
                        | &#60;hr>
        #right
            form(name='mdoc', method='post')
                h2 Title
                input(type='text', name='title', required)
                h2 Markdown
                textarea(name='md', required)
                h2 Template
                select(name="template")
                    option(value='simple') Simple
                    option(value='laravel') Laravel
                input(type='submit', value='Save')

        script(src='//code.jquery.com/jquery-1.11.0.min.js')
        script(src='js/pastesmd.js')
